.form-field {
  display: block;
}

.form-field:not(:last-child) {
  margin-bottom: 10px;
}

/* input {
  margin-top: 5px;
  margin-bottom: 5px;
} */

fieldset {
  margin-bottom: 20px;
}

.field {
  background-color: #fff;
}
